@charset "UTF-8";
// ================================================================================
// Elements
// HTMLタグのみのエレメントを記載
// ※クラス付与は原則行わない。あくまで直接セレクターに適用できるスタイルのみを記述します。
// ================================================================================

// ----------------------------------------------------------------
// Global
// ----------------------------------------------------------------

html {
	width: 100%;
	height: 100%;
	// font-size: calc((14px + (200vw - 640px) / 55) * .625);
	// @include mx-mq-min(375px) {
	// 	font-size: calc((16px * .625));
	// }
	// @include mx-mq-min(768px) {
	// 	font-size: calc((13px + (200vw - 1920px) / 192) * .625);
	// }
	// @include mx-mq-min(1440px) {
	// 	font-size: calc((16px + (200vw - 2560px) / 256) * .625);
	// }
	font-size: 62.5%;
	// overflow-x: hidden;
	overflow-x: clip;
	max-width: 100vw;
	@media #{$md_devices} {
	}

}

body {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	color: $color_default;
	font-family: $font;
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: normal;
	word-wrap: break-word;
	position: relative;
	font-feature-settings: "palt";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	overflow-x: clip;
	background-image: url(../images/common/bg-hougan.png);
	background-size: 4rem auto;
}

main {
	position: relative;
    max-width: 100vw;
}

* {
	box-sizing: border-box;
}


// ----------------------------------------------------------------
// Links
// ----------------------------------------------------------------

a {
	cursor: pointer;
	color: $color_default;
	text-decoration: none;
	text-underline-offset: 2px;
	text-decoration-skip-ink: all;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	text-decoration-skip-ink: none;
}




// ----------------------------------------------------------------
// Image
// ----------------------------------------------------------------

img {
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic;
	width: 100%	;
	height: auto;
	object-position: center;
}

// ----------------------------------------------------------------
// Video
// ----------------------------------------------------------------

video {
	width: 100%;
	height: auto;
	
}



// ----------------------------------------------------------------
// Wrapper
// ----------------------------------------------------------------

.wrapper {
	overflow: hidden;
	background-color: $color_white;
}

.home {
	.wrapper {
		background-color: $color_primary;
	}
}

