@charset "UTF-8";
// ================================================================================
// Utility
// モジュールの設定
// ================================================================================

// ----------------------------------------------------------------
// hidden, not
// ----------------------------------------------------------------

.hidden {
	display: none !important;
}
.sm\:hidden {
	@media #{$sm_devices_only} {
		display: none !important;
	}
}
.md\:hidden {
	@media #{$md_devices} {
		display: none !important;
	}
}

